/* You can add global styles to this file, and also import other style files */
.code {
  background-color: rgb(243, 243, 243);
  margin: 4px;
  padding: 4px 4px;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.code-title {
  font-weight: bold;
  width: fit-content;
  padding: 5px;
}

img {
  width: 100%;
}
